#gamescreen {
	-fx-background-image: url(../images/asfalt-dark.png);
	-fx-background-color: linear-gradient(#f7ffc7,#2b3300);
}

#gamepanel {
	-fx-background-color: #ffffff;
	-fx-border-color: #000000;
	-fx-border-width: 3px;
	-fx-background-image: url(../images/asfalt-dark.png);
}

#playercreate {
	-fx-background-color: #ffffff;
	-fx-border-color: #000000;
	-fx-border-width: 1px;
	-fx-padding: 5px;
}

#gameover {
	-fx-background-color: #dddddd;
	-fx-border-color: #000000;
	-fx-border-width: 1px;
}